
.main-carousel {
  img {
    width: 100%;
  }
  button {
    padding: 0;
    min-width: auto;
  }
  .flickity-page-dots {
    display: none;
    bottom: 2.5rem;
    @include respond-to(medium) {
      display: block;
    }
  }
  .flickity-prev-next-button {
    display: none;
    @include respond-to(medium) {
      display: block;
    }
  }
}

.Map {
  background: #FFEEF8;
  color: #e6007e;
  padding: 3rem 0 0;
  @include respond-to(large) {
    padding: 3rem 0 ;
  }
  article:first-child {
    padding: 0 2.5rem 2rem ;
    @include respond-to(large) {
      padding: 0 0 0 3rem;
    }
  }
  article:last-child {
    @include respond-to(large) {
      padding-left: 3rem;
    }
  }
  h1 {
    border-bottom: .1rem solid #e6007e;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }
  button {
    min-width: auto;
    min-height: auto;
  }
  select {
    border-radius: 3rem !important;
    margin-bottom: 1rem;
    padding: 0.6rem 1.6rem !important;
  }
}

.Map-google {
  width: 100%;
  height: 60rem;
}

#Map-location {
  margin: 2rem auto !important;
  display: block;
  border-radius: 1.2rem !important;
  padding: 0 1rem !important;
  color: white !important;
  background: #A34097 !important;
  min-height: 2.5rem !important;
  font-size: 1.3rem;
  letter-spacing: 0;
}

.Slide-products {
  max-width: 125rem;
  margin: 5rem auto;
  position: relative;
  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2  rem;
    text-transform: uppercase;
    margin: 0 auto 4rem auto;
    color: #757575;
    @include respond-to(medium) {
      line-height: 1.5rem;
    }
  }
  h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3rem;
    padding: 1.5rem 0;
    font-weight: 600;
  }
  .icon {
    font-size: 2rem;
    background-color: #f7f7f7;
    border: none;
    border-top: 1px solid #dddbdb;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    right: 0;
    top: 15px;
    width: 40px;
    position: relative;
    padding: .5rem 1rem;
    display: none;
    @include respond-to(medium) {
      display: block;
    }
  }
  span {
    font-size: 1.2rem;
    color: #757575;
  }
  a {
    color: #757575;
  }
  article {
    width: 50%;
    padding: 0 3rem;
    @include respond-to(medium) {
      width: 25%;
    }
  }
  button {
    min-width: auto;
    min-height: auto;
    background: none !important;
  }
  .flickity-page-dots {
    display: none;
  }
  .flickity-prev-next-button.previous {
    left: -15px;
  }
  .flickity-prev-next-button.next {
    left: calc(100% - 35px);
  }
}

.Slide-productsContent {
  margin-bottom: 6rem;
}

.Social-feeds {
  overflow: hidden;
  margin-bottom: 4rem;
  article {
    width: 50%;
    padding: 0 1rem;
    @include respond-to(medium) {
      width: 25%;
    }
  }

  button {
    min-width: auto;
    min-height: auto;
  }
  h3 {
    display: table;
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 3rem;
    color: #757575;
    font-weight: 500;
    span {
      color: #757575;
    }
  }
  .flickity-page-dots {
    display: none;
  }
  .flickity-prev-next-button {
    svg {
      width: 1.6rem !important;
    }
    path {
      fill: rgb(0, 156, 255) !important
    }
  }
  .flickity-prev-next-button.previous {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    width: 6rem;
    height: 6rem;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    svg {
      left: 50% !important;
    }

  }
  .flickity-prev-next-button.next {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    width: 6rem;
    height: 6rem;
    transform: translate(50%, -50%);
    right: -.3rem !important;
  }
}