
.main-carousel {
  img {
    width: 100%;
  }
  button {
    padding: 0;
    min-width: auto;
  }
  .flickity-page-dots {
    display: none;
    bottom: 2.5rem;
    @include respond-to(medium) {
      display: block;
    }
  }
  .flickity-prev-next-button {
    display: none;
    @include respond-to(medium) {
      display: block;
    }
  }
}

.Map-formContainer {
  background: #e6007e;
  max-height: 46rem;
  margin-bottom: 2rem;
  padding: 3rem 1rem 3rem;
  border-radius: 1.2rem;
  @include respond-to(medium) {
    padding: 8rem 3rem 10rem;
    margin-bottom: 0;
  }
}

.Map-articleContainer {
  @include respond-to(large) {
    padding-left: 3rem;
  }
}

.Map {
  text-transform: uppercase;
  color: #FFF;
  @include respond-to(large) {
    padding: 3rem 0;
  }
  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2rem;
    text-transform: uppercase;
    margin: 0 auto 4rem auto;
    color: #757575;
    @include respond-to(medium) {
      line-height: 1.5rem;
    }
  }
  h4{
    font-weight: bold;
    margin-bottom: 3.9rem;
  }
  h1 {
    border-bottom: .1rem solid #e6007e;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }
  button {
    min-width: auto;
    min-height: auto;
  }
  select {
    border-radius: 3rem !important;
    margin-bottom: 1rem;
    padding: 0.6rem 1.6rem !important;
  }
}

.Map-google {
  width: 100%;
  height: 46rem;
}

#Map-location {
  margin: 2rem auto !important;
  display: block;
  border-radius: 1.2rem !important;
  padding: 0 1rem !important;
  color: white !important;
  background: #A34097 !important;
  min-height: 2.5rem !important;
  font-size: 1.3rem;
  letter-spacing: 0;
}

.Slide-products {
  max-width: 125rem;
  margin: 5rem auto;
  position: relative;
  text-align: center;
  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2rem;
    text-transform: uppercase;
    margin: 0 auto 4rem auto;
    color: #757575;
    @include respond-to(medium) {
      line-height: 1.5rem;
    }
  }
  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3rem;
    padding: 1.5rem 0 0;
    font-weight: 600;
    max-width: calc(100% - 40px);
    margin: auto;
  }
  .icon {

    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 1.6rem 0 0 1.6rem;
    padding: .6rem 3rem .6rem  1rem ;
    font-size: 1.2rem;
    color: #6f6f6f;
    @include respond-to(medium) {
      display: block;

    }
  }
  span {
    font-size: 1.6rem;
    color: #e6007e;
  }
  a {
    color: black;
  }
  article {
    width: 100%;
    padding: 0 3rem;
    @include respond-to(medium) {
      width: 50%;
    }
    @include respond-to(large) {
      width: 25%;
    }
  }
  button {
    min-width: auto;
    min-height: auto;
    background: none !important;
  }
  .flickity-page-dots {
    display: none;
  }
  .flickity-prev-next-button.previous {
    left: -15px;
  }
  .flickity-prev-next-button.next {
    left: calc(100% - 35px);
  }
}

.Slide-productsImage {
  position: relative;

}

.Slide-productsContent {
  margin-bottom: 6rem;
}

.Social-feeds {
  overflow: hidden;
  margin-bottom: 4rem;

  button {
    min-width: auto;
    min-height: auto;
  }
  h3 {
    display: table;
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 3rem;
    color: #757575;
    font-weight: 500;
    span {
      color: #757575;
    }
  }
  .flickity-page-dots {
    display: none;
  }
  .flickity-prev-next-button {
    svg {
      width: 1.6rem !important;
    }
    path {
      fill: rgb(0, 156, 255) !important
    }
  }
  .flickity-prev-next-button.previous {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    width: 6rem;
    height: 6rem;
    left: .5rem;
    transform: translate3d(-50%, -50%, 0);
    svg {
      left: 50% !important;
    }

  }
  .flickity-prev-next-button.next {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    width: 6rem;
    height: 6rem;
    transform: translate(50%, -50%);
    right: .5rem !important;
  }
}

.about-content {
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  min-height: 700px;
  min-height: 80vh;
  overflow-x: hidden;
  overflow-y: visible;
}

.Social-feedsContent {
  max-width: 320px;
  margin: auto;
}

#FeedId {
  max-width: 300px;
  max-height: 560px;
  overflow: scroll;
  margin: auto;
}

.feedImage {
  width: 300px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2rem;
  height: 300px;
}

.fb-page {
  max-width: 300px;
  width: 300px;
  max-height: 400px;
  margin: 4rem auto 0;
  overflow: hidden;
}

@media (min-width: 600px) {
  #FeedId article:nth-child(n) .feedImage {
    margin-right: 3.8rem;
  }

  #FeedId article:nth-child(2n) .feedImage {
    margin-left: 1rem;
  }

  .Social-feedsContent {
    max-width: 60rem;
  }

  #FeedId {
    max-width: 400px;
    max-height: 360px;
    overflow: scroll;
  }
  .FeedId-h3 {
    width: 400px;
    text-align: center;
  }
  .feedImage {
    height: 170px;
    width: 170px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 2rem;

  }

  .fb-page {
    max-width: 200px;
    width: 200px;
    max-height: 360px;
    border-left: 2px solid #cbcbcb;
    padding-left: 2rem;
    margin: 0;
  }
  .fb-page-h3 {
    max-width: 200px;
    width: 200px;
   text-align: center;
  }
}

@media (min-width: 900px) {
  .Social-feedsContent {
    max-width: 90rem;
  }

  #FeedId {
    max-width: 600px;
    max-height: 560px;
    overflow: scroll;
  }
  .FeedId-h3 {
    width: 600px;
  }
  .feedImage {
    height: 210px;
    width: 210px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 2rem;

  }

  .fb-page {
    max-width: 290px;
    width: 270px;
    max-height: 560px;
  }
  .fb-page-h3 {
    max-width: 290px;
    width: 270px;
  }
}

@media (min-width: 1140px) {
  .Social-feedsContent {
    max-width: 114rem;
  }
  #FeedId {
    max-width: 780px;
    max-height: 760px;
    overflow: scroll;
  }
  .FeedId-h3 {
    width: 780px;
  }
  .feedImage {
    height: 340px;
    width: 340px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 2rem;

  }
  .fb-page {
    max-width: 390px;
    width: 350px;
    max-height: 760px;
  }
  .fb-page-h3 {
    max-width: 390px;
    width: 350px;
  }
  .Social-feedsTitle {
    max-width: 114rem;
    margin: auto;
  }
}

.banner-2 article {
  text-align: center;
}
.Social-feeds h2{
  text-align: center;
  padding: 1rem .5rem .8rem;
  color: white;
  background: #f0c3d8;
  margin: 2rem auto ;
  width: 90%;
  max-width: 57rem;
  font-size: 1.8rem;
  border-radius: 1rem;

}