@import "~inuit-css";
:root {
  --primary-color: #82f451;
  --secondary-color: #5A6169;
  --link-color: #538BF4;
  --fontPrimary--color: #434343;
  --lightGrey-color: #E9ECEF;
  --darkGrey-color: #8FA4B8;
  --dark-color: #5A6169;
  --active-color: #007BFF;
}
.card{
  padding: 2.4rem;
}