@import "~inuit-css";
:root {
  --primary-color: #82f451;
  --secondary-color: #5A6169;
  --link-color: #538BF4;
  --fontPrimary--color: #434343;
  --lightGrey-color: #E9ECEF;
  --darkGrey-color: #8FA4B8;
  --dark-color: #5A6169;
  --active-color: #007BFF;
  --grid-maxWidth: 1400px;
}
@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 1000px) {
      @content
    }
  }
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: .2rem;
}
@import "template/header";
@import "template/index";
@import "template/footer";